
.vs/LearningDX12/FileContentIndex/53c6bb2c-0b68-4be3-8a25-6919fc6e8e57.vsidx
.vs/LearningDX12/FileContentIndex/b58c10a2-3d64-4b3b-9cf6-6e06d3298760.vsidx
.vs/LearningDX12/FileContentIndex/read.lock
.vs/LearningDX12/v17/.suo
.vs/LearningDX12/v17/Browse.VC.db
.vs/LearningDX12/v17/Browse.VC.db-shm
.vs/LearningDX12/v17/Browse.VC.db-wal
.vs/LearningDX12/v17/Browse.VC.opendb
.vs/LearningDX12/v17/ipch/AutoPCH/1648f236f551d1ee/WINDOWSENGINE.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/1ad45f97f77a12e0/LAUNCH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/69aa3599758a7ca/WINDOWSMESSAGEPROCESSING.ipch
