
.vs/LearningDX12/FileContentIndex/53c6bb2c-0b68-4be3-8a25-6919fc6e8e57.vsidx
.vs/LearningDX12/FileContentIndex/b58c10a2-3d64-4b3b-9cf6-6e06d3298760.vsidx
.vs/LearningDX12/FileContentIndex/read.lock
.vs/LearningDX12/v17/.suo
.vs/LearningDX12/v17/Browse.VC.db
.vs/LearningDX12/v17/Browse.VC.db-shm
.vs/LearningDX12/v17/Browse.VC.db-wal
.vs/LearningDX12/v17/Browse.VC.opendb
.vs/LearningDX12/v17/ipch/AutoPCH/1648f236f551d1ee/WINDOWSENGINE.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/1ad45f97f77a12e0/LAUNCH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/69aa3599758a7ca/WINDOWSMESSAGEPROCESSING.ipch
*.vsidx
.vs/LearningDX12/v17/ipch/AutoPCH/9af009f9ec0f82d2/MESHMANAGER.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/903e10efb9f1d5b6/SHADER.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/8c8d81bd225d8f01/ENGINERENDERCONFIG.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/89fe04e54491b949/CAMERA.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/8116adf1cf08dd23/COREMINIMALOBJECT.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/7dcd740c69874693/COMPONENT.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/7ac2684067aea58c/SPHEREMESH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/79076730ca61a107/CYLINDERMESH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/77b58c0128da6b4/INPUTTYPE.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/762b5e9f4d867b96/BOXMESH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/6cd685967557715/SOFT_RASTERIZATION.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/595d6316f5fef913/MESH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/570106842027d7f8/RENDERING.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/4e459fd4b277d79/RENDERING.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/43189cb992dfc2be/SIMPLE_C_LOG.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/34b8a6d370b30dba/CUSTOMMESH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/2dc13caeb33c3d58/ENGINEMATH.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/28e59ca29688660e/SIMPLE_FILE_HELPER.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/144e0b9b874271c3/ENGINEFACTORY.ipch
.vs/LearningDX12/v17/ipch/AutoPCH/12c7e2faaadc96ca/WINMAINCOMMANDPARAMETERS.ipch
.vs/LearningDX12/v17/fileList.bin
.vs/LearningDX12/FileContentIndex/5401dcba-6b96-4f09-b8ba-0b57a1498bc0.vsidx
*.vsidx
.vs/LearningDX12/FileContentIndex/5401dcba-6b96-4f09-b8ba-0b57a1498bc0.vsidx
.vs/LearningDX12/FileContentIndex/5401dcba-6b96-4f09-b8ba-0b57a1498bc0.vsidx
*.ipch
